VITE_SUPABASE_URL=https://agsldsqeynzydujmijgc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFnc2xkc3FleW56eWR1am1pamdjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDAxNjg5MzIsImV4cCI6MjA1NTc0NDkzMn0.UfH3e_D4o01t79oZ9KkQ0G57H96jV1q5fWd8U4W-pRo
VITE_CENTRAL_DOMAIN=reseller.weave365.com
VITE_DEFAULT_STORE_BASE_URL=http://localhost:3000
